<html>
    <head>
        <link rel="stylesheet" href="../public/css/style.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>

        <body>
            <h2 class="head">{{>header}}</h2>
        <h2 class="contact-title">{{title}}</h2>
        <i class="fa-solid fa-square-phone"></i> 
        <div class="contact-info">
           
            
            <p><i class="fas fa-phone-square i"></i>{{mob}}</p>
            <p><i class="fa-brands fa-facebook i"></i>{{gmail}}</p>
            <p><i class="fa-brands fa-whatsapp i"></i>{{watsapp}}</p>
            <p><i class="fa-solid fa-tty i"></i>{{tele}}</p>
            
        </div>
      
        <h2 class="footer">{{>footer}}</h2>
        </body>
    
</html>