<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>

        <body>
            <h2 class="head">{{>header}}</h2>
        <h2 class="sur-title">{{title}}</h2>
        <div class="container">
            <div>
                
                <img class="img1" src={{img1}} alt="">
                <p class="team-info">{{info}}</p> 
            
            </div>
            <div>
                <img class="img1" src={{img1}} alt="">
                <p class="team-info">{{info}}</p> 
               
            </div>
            <div>
             <img class="img1" src={{img1}} alt="">
                <p class="team-info">{{info}}</p> 
               
            </div>
        </div>
       
        <h2 class="footer">{{>footer}}</h2>
        </body>
    
</html>